/*
By: Brendan Luke
Date: March 29, 2022
Purpose: stylesheet for AvWeather Tool
 */

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
    background-color: #eee;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body.darkmode {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    background-color: #222;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


/* TOP RIBBON */
.topRibbon {
    height: 8vh;
    background-color:  #2B3A86;
    min-height: 70px;
    max-height: 75px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
}
.topRibbon img.topRibbonImg {
    min-height: 50px;
    height: 80%;
    vertical-align: middle;
    max-height: 200px;
    margin-left: 1%;
}
.topRibbon button {
    /*Sizing and Positioning*/
    height: 50%;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: 25%;
    /*Appearance*/
    color: #222;
    background-color: #eee;
    border: 2px solid #222;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}
.topRibbon button:hover {
    color: #eee;
    background-color: #222;
    border: 2px solid #eee;
}


/* SIDEBAR AREA */
div.SideBar {
    width: 23vw;
    background-color: #f8f8f8;
    border: 3px solid #aaa;
    border-radius: 15px;
    /*position: -webkit-sticky;*/
    position: fixed;
    left: 0.5vw;
}
.SideBarButton {
    font-size: x-large;
    min-width: 70px;
    width: 90%;
    padding: 3%;
    margin: 0px auto;
    display: block;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: 3px solid #f8f8f8;
    border-radius: 20px;
}
.SideBarButton:hover {
    background-color: #ddd;
    border-color: #ddd;
}
.SideBarButtonActive {
    font-size: x-large;
    min-width: 70px;
    width: 90%;
    padding: 3%;
    margin: 0 auto;
    display: block;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: 3px solid #282;
    border-radius: 20px;
    outline: none; 
}
.SideBarButtonActive:hover {
    background-color: #ddd;
}
div.SideBar div.divider {
    height: 0px; 
    line-height: 0px; 
    min-height: 0px; 
    border-top: 2px solid  #2B3A86; 
    width: auto; 
    margin-left: 7%; 
    margin-right: 7%;
}

/* CONTENT AREA */
div.ContentArea {
    background-color: #f8f8f8;
    height: 85vh;
    width: 72vw;
    margin-left: 25vw;
    border: 3px solid #aaa;
    border-radius: 15px;
}